rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissive testing rules for MVP development & rapid prototyping
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
